<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="vue.js"></script>
</head>
<body>
    <div id='app'>
        <input type="text" v-on:input="changeTitle">
        <a v-bind:href="link">google</a>
        <p>{{title}}</p>
        <div v-on:mousemove="updateCoordinates">Coordinates: X: {{x}} / Y:{{y}}</div>

        <!-- ul>li[v-for="ingredient in ingredients"]{{{ingredient}}} -->
        <ul>
            <li v-for="ingredient in ingredients">{{ingredient}}</li>
        </ul>

        <ul>
            <li v-for="(ingredient,index) in ingredients">{{ingredient}}-index:({{index}})</li>
        </ul>

        <template v-for="ingredient in ingredients">
            <p>{{ ingredient }}</p>
            <p>{{ index}}</p>
       </template >
       <my-app></my-app>

    </div>
    <script>
        Vue.component('my-app',{
            data : function(){
                return {
                    status:'Critical'
                }
            },
            template:`<h1>My component {{ status }}</h1>`
        })

        new Vue({
            el: '#app',
            data: {
                ingredients: ["apple","grape","lemon"],
                title: 'Hello World',
                link: 'http://google.com',
                x: 0,
                y: 0
            },
            methods: {
                changeTitle: function (event) {
                    this.title = event.target.value;
                },
                updateCoordinates: function(event) {
                    this.x = event.clientX;
                    this.y = event.clientY;
                }
            }
        })
    </script>
</body>
</html>